SERVICE_NAME=fa-mcp-sdk
SERVICE_INSTANCE=prod
PM2_NAMESPACE=prod

DEBUG=config-info
# Used for PM2 service configuration
#┌────┬───────────────────────────────────────────────────────────┬─────────────────┬
#│ id │ name                                                      │ namespace       │
#├────┼───────────────────────────────────────────────────────────┼─────────────────┼
#│ 1  │ <SERVICE_NAME | package.json.name>[--<SERVICE_INSTANCE>]  │ <PM2_NAMESPACE> │

## DEBUG patterns ##
# AP-UPDATER - consul/access-points-updater
# af-consul:reg | af-consul:* - consul/cyclic-register
# af-consul:curl - consul/prepare-consul-api
# token:auth

# The address of the mcp server for testing. Default: http://localhost:<config.webServer.port>
TEST_MCP_SERVER_URL=https://fa-mcp-sdk.company.com

# The directory to store test result logs
TEST_RESULT_LOGS_DIR='_logs/mcp'
